# .gitgnore
# Tommy Savaria
# Pour Modèle de Rapport Gi - UdeS

# Ignore Everything
*

# Except...
!.gitignore
!.travis.yml
!*.tex
!*.bib
!*.bst
!Images/*

# ...even if they are in subdirectories
!*/
